In [38]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests, contextlib, re, os
import pandas as pd
import time

In [2]:
def init_browser():
    executable_path = {"executable_path": "../chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [3]:
def scrape():
    browser = init_browser()

    url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
    browser.visit(url)

    html = browser.html
    soup = BeautifulSoup(html, "html.parser")

    slide_elem = soup.select_one("ul.item_list li.slide")
    slide_title = slide_elem.find("div", class_='content_title').get_text()
    slide_body = slide_elem.find("div", class_='article_teaser_body').get_text()

In [4]:
# browser = init_browser()
# url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
# browser.visit(url)

In [14]:
featured_image_url = browser.find_by_id("full_image")

In [34]:

browser = init_browser()
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
pictures = []
    
featured_image_url = browser.find_by_css('a.product-item h3')
for i in range(len(featured_image_url)):
   
    #print(featured_image_url)
    browser.find_by_css('a.product-item h3')[i].click()
    
    # Find and click the full image button

    # Find the more sample button and click that
    #browser.is_element_present_by_text('Sample', wait_time=1)
    more_info_elem = browser.links.find_by_text('Sample').first
    pictures.append(more_info_elem['href'])
    print(i)
    browser.back()
    
pictures

0
1
2
3

['https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg']

In [7]:
browser = init_browser()
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

featured_image_url = browser.find_by_css('a.itemLink.product-item h3')
featured_image_url.click()

In [8]:
# Find and click the full image button

# Find the more sample button and click that
browser.is_element_present_by_text('Sample', wait_time=1)
more_info_elem = browser.links.find_by_partial_text('Sample')

In [9]:
img_url = more_info_elem.first['href']
img_url

'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [10]:
browser = init_browser()
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
    
featured_image_url = browser.find_by_id("full_image")
featured_image_url.click()
    
# Find and click the full image button

# Find the more info button and click that
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()
# Parse the resulting html with soup
  
html = browser.html
soup = BeautifulSoup(html, "html.parser")

slide_fig = soup.select_one("figure.lede a img").get("src")

In [37]:

browser = init_browser()

url = "https://twitter.com/MarsWxReport?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
browser.visit(url)
time.sleep(5)

html = browser.html
soup = BeautifulSoup(html, "html.parser")


mars_weather = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
try:
    mars_weather_tweet = mars_weather.find("p", "tweet-text").get_text()
    mars_weather_tweet
except AttributeError:
    pattern = re.compile(r'sol')
    mars_weather_tweet = soup.find('span', text=pattern).text
    mars_weather_tweet

In [35]:
facts_url = "https://space-facts.com/mars/"
facts = pd.read_html(facts_url)
facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [36]:
facts_df = facts[0]
facts_df.rename({0: 'Description', 1: 'Value'}, axis=1, inplace=True)
facts_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [39]:
facts_df.to_html('marsfacts.html')
facts_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [40]:
mars_data = {
    'weather_tweet': mars_weather_tweet,
    'facts': facts_df,
    'img': slide_fig,
    'title': slide_title,
    'body': slide_body,
    'cereb': pictures

}

NameError: name 'slide_title' is not defined

In [ ]:
browser.quit()

In [ ]:
return mars_data